<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Number of iterations parameters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" 
          href="styles.css"  />
</head>

<body>
<div class="place">
	<h2>Enter parameters to get the number of iterations</h2>
    <form action="#" th:action="@{/parameterForm}" th:object="${countResult}" method="post">
    	<p>startSum: <input type="text" th:field="*{startSum}" /></p>
        <p>endSum: <input type="text" th:field="*{endSum}" /></p>
        <p>percent: <input type="text" th:field="*{percent}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <p><a href="/parameterForm">Calculate number of iterations</a></p>
    <p><a href="/parameterFormPercent">Calculate percent</a></p>
    <p><a href="/parameterFormEndSum">Calculate end amount</a></p>
    </div>
</body>
</html>